/*导航头部*/
.nav-header{
	position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  background: #000;
  box-shadow: 1px 1px 1px #000;
  z-index: 999;
}
.nav-header .logo{
	width: 30%;
}
.nav-header .logo a{
	line-height: 3rem;
}
.nav-header .nav-body .nav-buttom{
	width: 3rem;
  border-radius: 3px;
  margin: 0.55rem auto;
  background: #fff;
}
.nav-header .nav-body .nav-buttom span{
	display: block;
  width: 1.5rem;
  height: 0.1rem;
  margin: 0.4rem auto;
  background: #444;
}
.nav-header .nav-body .close-nav{
  position: absolute;
  top: 15px;
  right: 0;
}
.nav-header .nav-body .nav-main{
	width: 70%;
}
.nav-header .nav-body .nav-item{
	float: left;
	width: 16.5%;
	font-size: 16px;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	overflow: hidden;
}
.nav-header .nav-body .nav-item:hover{
	background: #333;
}
.nav-header .nav-body .nav-item:hover .child-nav-div{
	display: block;
}
.nav-header .nav-body .nav-item a{
	color: #fff;
}
.nav-header .nav-body .nav-item .child-nav-div{
	display: none;
	position: absolute;
  width: 100%;
  left: 0;
  top: 3rem;
  padding: 20px 0;
  background: #333;
}
.nav-header .nav-body .nav-item .child-nav-div a{
	font-size: 14px;
	text-align: left;
	width: 100%;
	display: block;
	white-space: nowrap;
  overflow: hidden;
}
.nav-header .nav-body .nav-item .child-nav-div a:hover{
	color: #98CB00;
}
.nav-header .nav-body .nav-item .child-nav-div p{
	color: #fff;
	line-height: 1;
}
.nav-header .nav-body .nav-item .child-nav-div p.grap{
	margin: 1rem 0;
  border-top: 1px solid #454545;
}
.nav-header .nav-body .nav-item .child-nav-div img{
	width: 40px;
	margin-right: 8px;
}
.nav-header .nav-body .nav-item .child-nav-div .child-nav{
	width: 85%;
	margin: 0 auto;
	text-align: left;
}
.nav-header .nav-body .nav-item .child-nav-div .child-nav .member-nav a{
	display: block;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
}
.nav-header .nav-body .nav-item .child-nav-div .child-nav .member-nav{
	width: 22%;
}
.nav-header .nav-body .nav-item .child-nav-div .child-nav .member-nav img{
	width: 15px;
	margin-right: 5px;
}
/*底部导航*/
.footer{
	background: #000;
	font-size: 13px;
}
.footer .footer-body{
	padding: 2rem 0 1rem;
}
.footer .footer-body .foot-img{
	margin-top: 2rem;
}
.footer .footer-body ul{
	width: 15.5%;
}
.footer .footer-body ul li{
	line-height: 1.5rem;
  color: #7E7E7E;
}
.footer .footer-body ul .title{
	font-size: 0.75rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
}
.footer .footer-body ul li a{
	color: #7E7E7E;
}
.footer .footer-body ul li a:hover{
	color: #fff;
}
.footer .desc{
	text-align: center;
  color: #ccc;
  line-height: 1.5rem;
}
.footer .desc a{
	color: #0000df;
}
/*左侧快速导航栏*/
.leftFixed{
	position: fixed;
	top: 50%;
	left: 3%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	font-size: 13px;
}
.leftFixed li{
  width: 35px;
  text-align: center;
  padding: 10px 2px;
  background: #CCCCCC;
  border-bottom: 1px dotted #fff;
}
.leftFixed li:hover{
	background: #98CB00;
}
.leftFixed li a{
	color: #fff;
}
/*右侧辅助栏*/
.rightFixed{
	position: fixed;
	top: 50%;
	right: 1%;
  width: 100px;
  height: 420px;
  margin-top: -210px;
}
.rightFixed li a{
	display: table-cell;
	width: 100px;
  height: 100px;
	vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.rightFixed li a img{
	padding-bottom: 3px;
}
.rightFixed .qq img{
	width: 50px;
}
.rightFixed .qq, .rightFixed .back-top{
	background: #98CB00;
}
.rightFixed .wechat{
	padding: 10px 0;
	background: #666666;
}
.rightFixed .down{
	background: #999999;
}
/*底部辅助栏*/
.bottom-fixed{
	position: fixed;
	bottom: 0;
	width: 100%;
	line-height: 40px;
	background: #fff;
}
.bottom-fixed a{
	width: 32.5%;
	text-align: center;
	color: #fff;
	font-size: 14px;
}
.bottom-fixed a img{
	width: 20px;
	margin-right: 5px;
}
.bottom-fixed .qq{
	background: #2ea3eb;
}
.bottom-fixed .wechat{
	background: #98CB00;
	margin: 0 1%;
}
.bottom-fixed .phone{
	background: #FF6600;
}
/*微信二维码弹框*/
.wechat-kf-shade{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 999;
}
.wechat-kf-shade .kf-body{
	position: fixed;
	top: 35%;
	left: 25%;
	width: 50%;
	text-align: center;
}
.wechat-kf-shade .kf-body p{
	color: #fff;
	font-size: 1rem;
	margin-bottom: 15px;
}
.wechat-kf-shade .kf-body img{
	/*width: 100%;*/
}
/*qq客服弹框*/
.qq-kf-shade{
	position: fixed;
  width: 450px;
  height: 200px;
  background: #000;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  margin-top: -100px;
  color: #fff;
  background: url("kf-bg.jpg")/*tpa=http://qcdn.orientpowertech.com/adres/img/common/kf-bg.jpg*/ no-repeat;
  z-index: 999;
}
.qq-kf-shade .cusClose{
	position: absolute;
  right: 10px;
  top: 0;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
}
.qq-kf-shade .cusBtn{
	position: absolute;
  bottom: 20px;
  right: 30px;
}
.qq-kf-shade .cusBtn a{
	display: inline-block;
  width: 105px;
  height: 35px;
  background: #fff;
  color: #398cf6;
  text-align: center;
  line-height: 35px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #1a62bd;
}
.qq-kf-shade .cusBtn a.btnClose{
	background: #398cf6;
  color: #fff;
  margin-right: 15px;
}
/*移动端导航显示*/
.nav-header .nav-body .app-nav-show{
		position: relative;
    width: 100%;
    height: 500px;
    background: #000;
    overflow-y: auto;
    margin-top: -50px;
    padding: 10px 0 20px;
    -webkit-overflow-scrolling: touch;
	}
.nav-header .nav-body .app-nav-show .nav-item{
	float: none;
	width: auto;
	height: auto;
	text-align: left;
}
.nav-header .nav-body .app-nav-show .nav-item .child-nav-div{
	position: static;
	display: block;
}
.nav-header .nav-body .app-nav-show .nav-item .child-nav-div li{
	line-height: 30px;
}

@media only screen and (min-width: 1200px) {
	.nav-header .nav-body .nav-item .child-nav-div .child-nav{
		width: 1000px;
	}
	.leftFixed{
		left: 50%;
		margin-left: -535px;
	}
}