.div-item-title{
	position: relative;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 5px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 0.8rem;
  margin-bottom: 1.5rem;
}
.div-item-title:after{
	position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #98CB00;
  border-radius: 5px;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
}
@media only screen and (min-width: 769px) {
	.div-item-title{
		width: 30%;
		font-size: 23px;
	}
}
/*轮播图*/
.carousel{
	padding-top: 3rem;
}
.carousel .carousel-inner .item{
  height: 450px;
}
.carousel .carousel-inner .item a{
  height: 100%;
  width: 100%;
  display: block;
}
@media only screen and (max-width: 768px) {
	.carousel .carousel-inner .item{
    height: 45vw;
    background-size: 150% 100%!important;
	}
}

/*产品展示*/
.product-main .product-desc{
	width: 100%;
	padding: 2.5rem 0 0;
	background: url("product-bg.jpg")/*tpa=http://qcdn.orientpowertech.com/adres/img/index/product-bg.jpg*/ no-repeat 0 0;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

@media only screen and (min-width: 768px) {
	.product-main .product-desc .product-item{
		height: 315px;
	}
}
.product-main .product-desc .product-item{
	position: relative;
	text-align: center;
	font-size: 13px;
	padding: 1.25rem;
	margin-bottom: 1rem;
	box-shadow: 2px 2px 2px -1px #ccc;
  background: #fff;
}
.product-main .product-desc .product-item img{
	width: 75px;
  margin-top: 0.5rem;
  transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}
.product-main .product-desc .product-item h3{
  margin: 0.75rem 0;
  font-size: 16px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) {
	.product-main .product-desc .product-item .detail{
    height: 55px;
    display: -webkit-box !important;
	  -webkit-box-orient: vertical;
	  -webkit-line-clamp: 3;
	}
}

.product-main .product-desc .product-item .detail{
  line-height: 19px;
  text-align: left;
  margin-top: 1rem;
	color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.product-main .product-desc .product-item .detailBtn{
	display: block;
	width: 120px;
  line-height: 35px; 
  margin: 2rem auto 0;
  background: #98CB00;
  color: #fff;
  border-radius: 5px;
  transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}
.product-main .product-hot{
	padding-bottom: 2.5rem;
	background: #fff;
}
.product-main .product-hot .product-item{
  box-shadow: 5px 5px 5px -1px #ccc;
  background: #F7F7FB;
}
.product-main .product-hot .product-item .hot{
	position: absolute;
	top: 5px;
  right: 5px;
  width: 40px;
  height: 27px;
  background: url("hot.png")/*tpa=http://qcdn.orientpowertech.com/adres/img/soft-pic/hot.png*/ no-repeat;
}
.product-main .product-hot .product-item .detailBtn{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-radius: 0;
}
.product-main .product-desc .product-item:hover img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}
.product-main .product-desc .product-item:hover .detailBtn{
	background: #FF6600;
}
.product-main .product-hot .product-item:hover .detailBtn{
	background: #FF6600;
	line-height: 45px;
}
/*新闻动态*/
.news-infor{
	width: 100%;
	padding: 2.5rem 0;
	background: #fff;
}
.news-infor ul li .news-item{
	display: block;
	line-height: 2.5rem;
  color: #444;
  font-size: 15px;
  margin-bottom: 0.75rem;
  margin-right: 2rem;
  border-bottom: 1px dotted #ccc;
}
.news-infor .news-item .tags{
	width: 20px;
	height: 2.5rem;
	margin-right: 5px;
	background: url("tag.png")/*tpa=http://qcdn.orientpowertech.com/adres/img/index/tag.png*/ no-repeat center center;
	background-size: 100%;
}
.news-infor ul li .news-item .title{
  width: calc(100% - 70px);
	height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news-infor ul li .news-item .time{
	color: #CCCCCC;
}
/*合作品牌*/
.cooperationCon-infor{
	width: 100%;
	padding: 2.5rem 0;
	background: url("news-bg.jpg")/*tpa=http://qcdn.orientpowertech.com/adres/img/index/news-bg.jpg*/ no-repeat 0 0;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.cooperationCon-infor .cooperation{
	width: 33.3%;
}
.cooperationCon-infor .cooperation a{
  display: block;
	width: 65%;
  margin: 0 auto;
  background: #FFFFFF;
  padding: 10px;
  border-radius: 30px 5px;
}
.cooperationCon-infor .cooperation a img{
  display: block;
	width: 80%;
  margin: 0 auto;
}
/*友情链接*/
.connect-infor{
	width: 100%;
	padding: 10px 0;
  background-color: #333;
}
.connect-infor .connect-body{
	font-size: 13px;
}
.connect-infor .connect-body .desc{
	line-height: 26px;
  color: #d0cfcf;
}
.connect-infor .connect-body .noticTipTxt{
  width: calc(100% - 100px);
	height: 26px;
  overflow: hidden;
}
.connect-infor .connect-body .noticTipTxt a{
  float: left;
	height: 26px;
  line-height: 26px;
  color: #d0cfcf;
  margin-right: 10px;
}


