html {
	-ms-overflow-style: scrollbar;
	min-height: 100%
}

body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed
}

iframe[name=google_conversion_frame] {
	height: 0 !important;
	width: 0 !important;
	line-height: 0 !important;
	font-size: 0 !important;
	margin-top: -13px;
	float: left
}

.row-title {
	color: #767676;
	padding-bottom: 16px
}

.page-banner.with-image {
	text-align: center
}

@media(min-width:768px) {
	.page-banner .oversize {
		font-size: 38px
	}

	.page-banner.with-image {
		text-align: left
	}

	.page-banner.with-image .row {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: -webkit-box;
		display: -moz-box;
		display: flex;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-moz-box-align: center;
		align-items: center
	}
}

.page-banner.with-image.single {
	text-align: center;
	padding-bottom: 48px
}

.page-banner.with-image.single img {
	margin-top: 48px
}

.page-banner.article_header {
	background-size: cover;
	background-repeat: no-repeat
}

.page-banner.io-white-bg .page-title {
	color: #001760
}

.spotlight {
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 24px
}

.spotlight p {
	font-size: 14px
}

@media(min-width:768px) {
	.spotlight {
		padding-bottom: 0
	}

	.feature {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: -webkit-box;
		display: -moz-box;
		display: flex;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-moz-box-align: center;
		align-items: center
	}
}
/** 3%; */
.spotlight.col-sm-4 {
	padding-left: 1%;
	padding-right: 1%
}

.spotlight.col-md-3 {
	padding-left: 2%;
	padding-right: 2%
}

.spotlight img {
	margin-bottom: 16px
}

.spotlight-list img {
	float: right
}

.spotlight-list .row {
	padding-bottom: 24px
}

.feature .feature-image {
	padding-bottom: 16px
}

.feature .feature-text {
	text-align: center
}

@media(min-width:768px) {
	.feature .feature-image {
		padding-bottom: 0
	}

	.feature .feature-text {
		text-align: left
	}
}

.feature .feature-text h2 {
	margin-top: 5px;
	font-size:24px;
	padding: 5px 0px;	
}

.trustbar {
	text-align: center
}

.trustbar h3 {
	margin: 0
}

@media(min-width:992px) {
	.trustbar {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: -webkit-box;
		display: -moz-box;
		display: flex;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		-moz-box-align: center;
		align-items: center;
		text-align: left
	}
}
.padded {
	padding-top: 32px;
	padding-bottom: 32px
}

@media(min-width:768px) {
	footer .copyright {
		text-align: right
	}

	.padded {
		padding-top: 48px;
		padding-bottom: 48px
	}
}

@media(min-width:992px) {
	.padded {
		padding-top: 64px;
		padding-bottom: 64px
	}
}

.padded.fix-top {
	padding-top: 64px
}

@media(min-width:1050px) {
	.padded.fix-top {
		padding-top: 112px
	}
}
/**28px */
.padded.skinny {
	padding-top: 20px;
	padding-bottom: 20px
}

@media(min-width:992px) {
/**32px */
	.padded.skinny {
		padding-top: 20px;
		padding-bottom: 20px
	}
}

.padded.skinny.fix-top {
	padding-top: 56px
}

@media(min-width:1050px) {
	.padded.skinny.fix-top {
		padding-top: 80px
	}
}

.padded.thick {
	padding-top: 48px;
	padding-bottom: 48px
}

@media(min-width:768px) {
	.padded.thick {
		padding-top: 72px;
		padding-bottom: 73.6px
	}
}

@media(min-width:992px) {
	.padded.thick {
		padding-top: 96px;
		padding-bottom: 96px
	}
}

.padded.thick.fix-top {
	padding-top: 80px
}

@media(min-width:1050px) {
	.padded.thick.fix-top {
		padding-top: 144px
	}
}

.padded.thickest {
	padding-top: 80px;
	padding-bottom: 80px
}

@media(min-width:768px) {
	.padded.thickest {
		padding-top: 120px;
		padding-bottom: 120px
	}
}

@media(min-width:992px) {
	.padded.thickest {
		padding-top: 160px;
		padding-bottom: 160px
	}
}

.padded.thickest.fix-top {
	padding-top: 120px
}

@media(min-width:1050px) {
	.padded.thickest.fix-top {
		padding-top: 208px
	}
}

.img-text{
	color:#FFFFFF
}
.padded {
    padding-top: 32px;
    padding-bottom: 32px;
}
.io-white-bg {
    background-color: #fff !important;
}
.io-blue {
    color: #009ee2 !important;
}
.text-left {
    text-align: left;
}
.btn-cta-sm {
    padding: 6px 40px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 20px;
    color: #fff;
    background-color: #e52054;
    border-color: transparent;
}
.btn-cta {
	padding: 10px 40px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 23px;
	color: #fff;
	background-color: #e52054;
	border-color: transparent
}

.btn-cta.active:focus,.btn-cta:active.focus,.btn-cta:active:focus {
	color: #ffe40d;
	background-color: rgba(0,0,0,.05);
	background-color: #a5133a;
	border-color: rgba(0,0,0,0)
}

.btn-cta .open>.dropdown-toggle,.btn-cta.active,.btn-cta.focus,.btn-cta:active,.btn-cta:focus,.btn-cta:hover {
	color: #ffe40d;
	background-color: #bc1642;
	border-color: transparent
}

.btn-cta.active,.btn-cta:active,.open>.dropdown-toggle.btn-cta {
	background-image: none
}

.btn-cta.disabled,.btn-cta.disabled.active,.btn-cta.disabled.focus,.btn-cta.disabled:active,.btn-cta.disabled:focus,.btn-cta.disabled:hover,.btn-cta[disabled],.btn-cta[disabled].active,.btn-cta[disabled].focus,.btn-cta[disabled]:active,.btn-cta[disabled]:focus,.btn-cta[disabled]:hover,fieldset[disabled] .btn-cta,fieldset[disabled] .btn-cta.active,fieldset[disabled] .btn-cta.focus,fieldset[disabled] .btn-cta:active,fieldset[disabled] .btn-cta:focus,fieldset[disabled] .btn-cta:hover {
	background-color: #e52054;
	border-color: transparent
}

.btn-cta .badge {
	color: #e52054;
	background-color: #fff
}

.btn-cta-sm {
	padding: 6px 40px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 20px;
	color: #fff;
	background-color: #e52054;
	border-color: transparent
}

.btn-cta-sm.active:focus,.btn-cta-sm:active.focus,.btn-cta-sm:active:focus {
	color: #ffe40d;
	background-color: rgba(0,0,0,.05);
	background-color: #a5133a;
	border-color: rgba(0,0,0,0)
}

.btn-cta-sm .open>.dropdown-toggle,.btn-cta-sm.active,.btn-cta-sm.focus,.btn-cta-sm:active,.btn-cta-sm:focus,.btn-cta-sm:hover {
	color: #ffe40d;
	background-color: #bc1642;
	border-color: transparent
}

.btn-cta-sm.active,.btn-cta-sm:active,.open>.dropdown-toggle.btn-cta-sm {
	background-image: none
}

.btn-cta-sm.disabled,.btn-cta-sm.disabled.active,.btn-cta-sm.disabled.focus,.btn-cta-sm.disabled:active,.btn-cta-sm.disabled:focus,.btn-cta-sm.disabled:hover,.btn-cta-sm[disabled],.btn-cta-sm[disabled].active,.btn-cta-sm[disabled].focus,.btn-cta-sm[disabled]:active,.btn-cta-sm[disabled]:focus,.btn-cta-sm[disabled]:hover,fieldset[disabled] .btn-cta-sm,fieldset[disabled] .btn-cta-sm.active,fieldset[disabled] .btn-cta-sm.focus,fieldset[disabled] .btn-cta-sm:active,fieldset[disabled] .btn-cta-sm:focus,fieldset[disabled] .btn-cta-sm:hover {
	background-color: #e52054;
	border-color: transparent
}

.btn-cta-sm .badge {
	color: #e52054;
	background-color: #fff
}

.io-pink {
	color: #ff26aa !important
}

.io-blue {
	color: #009ee2 !important
}

.io-green {
	color: #a7ff66 !important
}

.io-yellow {
	color: #ffe40d !important
}

.io-carmine {
	color: #e52054 !important
}

.io-aqua {
	color: #66c2ce !important
}

.io-navy {
	color: #001760 !important
}

.io-gray {
	color: #f1f1f2 !important
}

.io-white {
	color: #fff !important
}

.io-gray-dark {
	color: #333 !important
}

.io-gray-light {
	color: #767676 !important
}

.io-pink-bg {
	background-color: #ff26aa !important
}

.io-blue-bg {
	background-color: #009ee2 !important
}

.io-green-bg {
	background-color: #a7ff66 !important
}

.io-yellow-bg {
	background-color: #ffe40d !important
}

.io-carmine-bg {
	background-color: #e52054 !important
}

.io-aqua-bg {
	background-color: #66c2ce !important
}

.io-navy-bg {
	background-color: #001760 !important
}

.io-gray-bg {
	background-color: #f1f1f2 !important
}

.io-white-bg {
	background-color: #fff !important
}

.io-gray-dark-bg {
	background-color: #333 !important
}

.io-gray-light-bg {
	background-color: #767676 !important
}

.io-gray-lightest {
	color: #f8f8f8 !important
}

.io-gray-lightest-bg {
	background-color: #f8f8f8 !important
}

.io-gray-border {
	border: 1px solid #cacaca
}

.io-gradient-pink-carmine {
	background: #ff26aa;
	background: -moz-linear-gradient(-45deg,#ff26aa 0,#e52054 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#ff26aa),color-stop(100%,#e52054));
	background: -webkit-linear-gradient(315deg,#ff26aa 0,#e52054 100%);
	background: -moz-linear-gradient(315deg,#ff26aa 0,#e52054 100%);
	background: linear-gradient(135deg,#ff26aa 0,#e52054 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26aa,endColorstr=#e52054,GradientType=1);
	color: #fff
}

.io-gradient-carmine-pink {
	background: #e52054;
	background: -moz-linear-gradient(-45deg,#e52054 0,#ff26aa 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#ff26aa),color-stop(100%,#ff26aa));
	background: -webkit-linear-gradient(315deg,#e52054 0,#ff26aa 100%);
	background: -moz-linear-gradient(315deg,#e52054 0,#ff26aa 100%);
	background: linear-gradient(135deg,#e52054 0,#ff26aa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e52054,endColorstr=#ff26aa,GradientType=1);
	color: #fff
}

.io-gradient-carmine-yellow {
	background: #e52054;
	background: -moz-linear-gradient(-45deg,#e52054 0,#ffe40d 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#e52054),color-stop(100%,#ffe40d));
	background: -webkit-linear-gradient(315deg,#e52054 0,#ffe40d 100%);
	background: -moz-linear-gradient(315deg,#e52054 0,#ffe40d 100%);
	background: linear-gradient(135deg,#e52054 0,#ffe40d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e52054,endColorstr=#ffe40d,GradientType=1);
	color: #fff
}

.io-gradient-yellow-carmine {
	background: #ffe40d;
	background: -moz-linear-gradient(-45deg,#ffe40d 0,#e52054 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#ffe40d),color-stop(100%,#e52054));
	background: -webkit-linear-gradient(315deg,#ffe40d 0,#e52054 100%);
	background: -moz-linear-gradient(315deg,#ffe40d 0,#e52054 100%);
	background: linear-gradient(135deg,#ffe40d 0,#e52054 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe40d,endColorstr=#e52054,GradientType=1);
	color: #fff
}

.io-gradient-aqua-blue {
	background: #66c2ce;
	background: -moz-linear-gradient(-45deg,#66c2ce 0,#009ee2 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#66c2ce),color-stop(100%,#009ee2));
	background: -webkit-linear-gradient(315deg,#66c2ce 0,#009ee2 100%);
	background: -moz-linear-gradient(315deg,#66c2ce 0,#009ee2 100%);
	background: linear-gradient(135deg,#66c2ce 0,#009ee2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66c2ce,endColorstr=#009ee2,GradientType=1);
	color: #fff
}

.io-gradient-blue-aqua {
	background: #009ee2;
	background: -moz-linear-gradient(-45deg,#009ee2 0,#66c2ce 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#009ee2),color-stop(100%,#66c2ce));
	background: -webkit-linear-gradient(315deg,#009ee2 0,#66c2ce 100%);
	background: -moz-linear-gradient(315deg,#009ee2 0,#66c2ce 100%);
	background: linear-gradient(135deg,#009ee2 0,#66c2ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#009ee2,endColorstr=#66c2ce,GradientType=1);
	color: #fff
}

.io-gradient-blue-navy {
	background: #009ee2;
	background: -moz-linear-gradient(-45deg,#009ee2 0,#001760 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#009ee2),color-stop(100%,#001760));
	background: -webkit-linear-gradient(315deg,#009ee2 0,#001760 100%);
	background: -moz-linear-gradient(315deg,#009ee2 0,#001760 100%);
	background: linear-gradient(135deg,#009ee2 0,#001760 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#009ee2,endColorstr=#001760,GradientType=1);
	color: #fff
}

.io-gradient-navy-blue {
	background: #001760;
	background: -moz-linear-gradient(-45deg,#001760 0,#009ee2 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#001760),color-stop(100%,#009ee2));
	background: -webkit-linear-gradient(315deg,#001760 0,#009ee2 100%);
	background: -moz-linear-gradient(315deg,#001760 0,#009ee2 100%);
	background: linear-gradient(135deg,#001760 0,#009ee2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#001760,endColorstr=#009ee2,GradientType=1);
	color: #fff
}

.io-gradient-green-blue {
	background: #a7ff66;
	background: -moz-linear-gradient(-45deg,#a7ff66 0,#009ee2 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#a7ff66),color-stop(100%,#009ee2));
	background: -webkit-linear-gradient(315deg,#a7ff66 0,#009ee2 100%);
	background: -moz-linear-gradient(315deg,#a7ff66 0,#009ee2 100%);
	background: linear-gradient(135deg,#a7ff66 0,#009ee2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a7ff66,endColorstr=#009ee2,GradientType=1);
	color: #001760
}

.io-gradient-blue-green {
	background: #009ee2;
	background: -moz-linear-gradient(-45deg,#009ee2 0,#a7ff66 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#009ee2),color-stop(100%,#a7ff66));
	background: -webkit-linear-gradient(315deg,#009ee2 0,#a7ff66 100%);
	background: -moz-linear-gradient(315deg,#009ee2 0,#a7ff66 100%);
	background: linear-gradient(135deg,#009ee2 0,#a7ff66 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#009ee2,endColorstr=#a7ff66,GradientType=1);
	color: #001760
}

.io-gradient-green-yellow {
	background: #a7ff66;
	background: -moz-linear-gradient(-45deg,#a7ff66 0,#ffe40d 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#a7ff66),color-stop(100%,#ffe40d));
	background: -webkit-linear-gradient(315deg,#a7ff66 0,#ffe40d 100%);
	background: -moz-linear-gradient(315deg,#a7ff66 0,#ffe40d 100%);
	background: linear-gradient(135deg,#a7ff66 0,#ffe40d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a7ff66,endColorstr=#ffe40d,GradientType=1);
	color: #001760
}

.io-gradient-yellow-green {
	background: #ffe40d;
	background: -moz-linear-gradient(-45deg,#ffe40d 0,#a7ff66 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#ffe40d),color-stop(100%,#a7ff66));
	background: -webkit-linear-gradient(315deg,#ffe40d 0,#a7ff66 100%);
	background: -moz-linear-gradient(315deg,#ffe40d 0,#a7ff66 100%);
	background: linear-gradient(135deg,#ffe40d 0,#a7ff66 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe40d,endColorstr=#a7ff66,GradientType=1);
	color: #001760
}

.io-gradient-navy-pink {
	background: #001760;
	background: -moz-linear-gradient(-45deg,#001760 0,#ff26aa 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#001760),color-stop(100%,#ff26aa));
	background: -webkit-linear-gradient(315deg,#001760 0,#ff26aa 100%);
	background: -moz-linear-gradient(315deg,#001760 0,#ff26aa 100%);
	background: linear-gradient(135deg,#001760 0,#ff26aa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#001760,endColorstr=#ff26aa,GradientType=1);
	color: #fff
}

.io-gradient-pink-navy {
	background: #ff26aa;
	background: -moz-linear-gradient(-45deg,#ff26aa 0,#001760 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#ff26aa),color-stop(100%,#001760));
	background: -webkit-linear-gradient(315deg,#ff26aa 0,#001760 100%);
	background: -moz-linear-gradient(315deg,#ff26aa 0,#001760 100%);
	background: linear-gradient(135deg,#ff26aa 0,#001760 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26aa,endColorstr=#001760,GradientType=1);
	color: #fff
}

.io-gradient-pink-yellow {
	background: #ff26aa;
	background: -moz-linear-gradient(-45deg,#ff26aa 0,#ffe40d 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#ff26aa),color-stop(100%,#ffe40d));
	background: -webkit-linear-gradient(315deg,#ff26aa 0,#ffe40d 100%);
	background: -moz-linear-gradient(315deg,#ff26aa 0,#ffe40d 100%);
	background: linear-gradient(135deg,#ff26aa 0,#ffe40d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26aa,endColorstr=#ffe40d,GradientType=1);
	color: #fff
}

.io-gradient-yellow-pink {
	background: #ffe40d;
	background: -moz-linear-gradient(-45deg,#ffe40d 0,#ff26aa 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#ffe40d),color-stop(100%,#ff26aa));
	background: -webkit-linear-gradient(315deg,#ffe40d 0,#ff26aa 100%);
	background: -moz-linear-gradient(315deg,#ffe40d 0,#ff26aa 100%);
	background: linear-gradient(135deg,#ffe40d 0,#ff26aa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe40d,endColorstr=#ff26aa,GradientType=1);
	color: #fff
}

.io-gradient-navy-carmine {
	background: #001760;
	background: -moz-linear-gradient(-45deg,#001760 0,#e52054 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#001760),color-stop(100%,#e52054));
	background: -webkit-linear-gradient(315deg,#001760 0,#e52054 100%);
	background: -moz-linear-gradient(315deg,#001760 0,#e52054 100%);
	background: linear-gradient(135deg,#001760 0,#e52054 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#001760,endColorstr=#e52054,GradientType=1);
	color: #fff
}

.io-gradient-carmine-navy {
	background: #e52054;
	background: -moz-linear-gradient(-45deg,#e52054 0,#001760 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#e52054),color-stop(100%,#001760));
	background: -webkit-linear-gradient(315deg,#e52054 0,#001760 100%);
	background: -moz-linear-gradient(315deg,#e52054 0,#001760 100%);
	background: linear-gradient(135deg,#e52054 0,#001760 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e52054,endColorstr=#001760,GradientType=1);
	color: #fff
}

.io-gradient-navy-aqua {
	background: #001760;
	background: -moz-linear-gradient(-45deg,#001760 0,#66c2ce 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#001760),color-stop(100%,#66c2ce));
	background: -webkit-linear-gradient(315deg,#001760 0,#66c2ce 100%);
	background: -moz-linear-gradient(315deg,#001760 0,#66c2ce 100%);
	background: linear-gradient(135deg,#001760 0,#66c2ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#001760,endColorstr=#66c2ce,GradientType=1);
	color: #fff
}

.io-gradient-aqua-navy {
	background: #66c2ce;
	background: -moz-linear-gradient(-45deg,#66c2ce 0,#001760 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#66c2ce),color-stop(100%,#001760));
	background: -webkit-linear-gradient(315deg,#66c2ce 0,#001760 100%);
	background: -moz-linear-gradient(315deg,#66c2ce 0,#001760 100%);
	background: linear-gradient(135deg,#66c2ce 0,#001760 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66c2ce,endColorstr=#001760,GradientType=1);
	color: #fff
}

.io-gradient-navy-green {
	background: #001760;
	background: -moz-linear-gradient(-45deg,#001760 0,#a7ff66 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#001760),color-stop(100%,#a7ff66));
	background: -webkit-linear-gradient(315deg,#001760 0,#a7ff66 100%);
	background: -moz-linear-gradient(315deg,#001760 0,#a7ff66 100%);
	background: linear-gradient(135deg,#001760 0,#a7ff66 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#001760,endColorstr=#a7ff66,GradientType=1);
	color: #fff
}

.io-gradient-green-navy {
	background: #a7ff66;
	background: -moz-linear-gradient(-45deg,#a7ff66 0,#001760 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#a7ff66),color-stop(100%,#001760));
	background: -webkit-linear-gradient(315deg,#a7ff66 0,#001760 100%);
	background: -moz-linear-gradient(315deg,#a7ff66 0,#001760 100%);
	background: linear-gradient(135deg,#a7ff66 0,#001760 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a7ff66,endColorstr=#001760,GradientType=1);
	color: #fff
}

.io-gradient-blue-pink {
	background: #009ee2;
	background: -moz-linear-gradient(-45deg,#009ee2 0,#ff26aa 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#009ee2),color-stop(100%,#ff26aa));
	background: -webkit-linear-gradient(315deg,#009ee2 0,#ff26aa 100%);
	background: -moz-linear-gradient(315deg,#009ee2 0,#ff26aa 100%);
	background: linear-gradient(135deg,#009ee2 0,#ff26aa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#009ee2,endColorstr=#ff26aa,GradientType=1);
	color: #fff
}

.io-gradient-pink-blue {
	background: #ff26aa;
	background: -moz-linear-gradient(-45deg,#ff26aa 0,#009ee2 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#ff26aa),color-stop(100%,#009ee2));
	background: -webkit-linear-gradient(315deg,#ff26aa 0,#009ee2 100%);
	background: -moz-linear-gradient(315deg,#ff26aa 0,#009ee2 100%);
	background: linear-gradient(135deg,#ff26aa 0,#009ee2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26aa,endColorstr=#009ee2,GradientType=1);
	color: #fff
}

.io-gradient-blue-carmine {
	background: #009ee2;
	background: -moz-linear-gradient(-45deg,#009ee2 0,#e52054 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#009ee2),color-stop(100%,#e52054));
	background: -webkit-linear-gradient(315deg,#009ee2 0,#e52054 100%);
	background: -moz-linear-gradient(315deg,#009ee2 0,#e52054 100%);
	background: linear-gradient(135deg,#009ee2 0,#e52054 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#009ee2,endColorstr=#e52054,GradientType=1);
	color: #fff
}

.io-gradient-carmine-blue {
	background: #e52054;
	background: -moz-linear-gradient(-45deg,#e52054 0,#009ee2 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#e52054),color-stop(100%,#009ee2));
	background: -webkit-linear-gradient(315deg,#e52054 0,#009ee2 100%);
	background: -moz-linear-gradient(315deg,#e52054 0,#009ee2 100%);
	background: linear-gradient(135deg,#e52054 0,#009ee2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e52054,endColorstr=#009ee2,GradientType=1);
	color: #fff
}

.io-gradient-green-pink {
	background: #a7ff66;
	background: -moz-linear-gradient(-45deg,#a7ff66 0,#ff26aa 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#a7ff66),color-stop(100%,#ff26aa));
	background: -webkit-linear-gradient(315deg,#a7ff66 0,#ff26aa 100%);
	background: -moz-linear-gradient(315deg,#a7ff66 0,#ff26aa 100%);
	background: linear-gradient(135deg,#a7ff66 0,#ff26aa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a7ff66,endColorstr=#ff26aa,GradientType=1);
	color: #fff
}

.io-gradient-pink-green {
	background: #ff26aa;
	background: -moz-linear-gradient(-45deg,#ff26aa 0,#a7ff66 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#ff26aa),color-stop(100%,#a7ff66));
	background: -webkit-linear-gradient(315deg,#ff26aa 0,#a7ff66 100%);
	background: -moz-linear-gradient(315deg,#ff26aa 0,#a7ff66 100%);
	background: linear-gradient(135deg,#ff26aa 0,#a7ff66 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26aa,endColorstr=#a7ff66,GradientType=1);
	color: #fff
}

.io-gradient-aqua-pink {
	background: #66c2ce;
	background: -moz-linear-gradient(-45deg,#66c2ce 0,#ff26aa 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#66c2ce),color-stop(100%,#ff26aa));
	background: -webkit-linear-gradient(315deg,#66c2ce 0,#ff26aa 100%);
	background: -moz-linear-gradient(315deg,#66c2ce 0,#ff26aa 100%);
	background: linear-gradient(135deg,#66c2ce 0,#ff26aa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66c2ce,endColorstr=#ff26aa,GradientType=1);
	color: #fff
}

.io-gradient-pink-aqua {
	background: #ff26aa;
	background: -moz-linear-gradient(-45deg,#ff26aa 0,#66c2ce 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#ff26aa),color-stop(100%,#66c2ce));
	background: -webkit-linear-gradient(315deg,#ff26aa 0,#66c2ce 100%);
	background: -moz-linear-gradient(315deg,#ff26aa 0,#66c2ce 100%);
	background: linear-gradient(135deg,#ff26aa 0,#66c2ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26aa,endColorstr=#66c2ce,GradientType=1);
	color: #fff
}

.io-gradient-help-black {
	background: #524b4b;
	background: -moz-linear-gradient(-45deg,#524b4b 0,#000 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#524b4b),color-stop(100%,#000));
	background: -webkit-linear-gradient(315deg,#524b4b 0,#000 100%);
	background: -moz-linear-gradient(315deg,#524b4b 0,#000 100%);
	background: linear-gradient(135deg,#524b4b 0,#000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#524B4B,endColorstr=#000,GradientType=1);
	color: #fff
}

.io-gradient-black-help {
	background: #000;
	background: -moz-linear-gradient(-45deg,#000 0,#524b4b 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#000),color-stop(100%,#524b4b));
	background: -webkit-linear-gradient(315deg,#000 0,#524b4b 100%);
	background: -moz-linear-gradient(315deg,#000 0,#524b4b 100%);
	background: linear-gradient(135deg,#000 0,#524b4b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#000,endColorstr=#524B4B,GradientType=1);
	color: #fff
}

.io-gradient-green-carmine {
	background: #a7ff66;
	background: -moz-linear-gradient(-45deg,#a7ff66 0,#e52054 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#a7ff66),color-stop(100%,#e52054));
	background: -webkit-linear-gradient(315deg,#a7ff66 0,#e52054 100%);
	background: -moz-linear-gradient(315deg,#a7ff66 0,#e52054 100%);
	background: linear-gradient(135deg,#a7ff66 0,#e52054 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a7ff66,endColorstr=#e52054,GradientType=1);
	color: #fff
}

.io-gradient-aqua-carmine {
	background: #001760;
	background: -moz-linear-gradient(-45deg,#001760 0,#e52054 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#001760),color-stop(100%,#e52054));
	background: -webkit-linear-gradient(315deg,#001760 0,#e52054 100%);
	background: -moz-linear-gradient(315deg,#001760 0,#e52054 100%);
	background: linear-gradient(135deg,#001760 0,#e52054 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#001760,endColorstr=#e52054,GradientType=1);
	color: #fff
}

.io-gradient-carmine-aqua {
	background: #e52054;
	background: -moz-linear-gradient(-45deg,#e52054 0,#66c2ce 100%);
	background: -webkit-gradient(linear,left top,right bottom,color-stop(0,#e52054),color-stop(100%,#66c2ce));
	background: -webkit-linear-gradient(315deg,#e52054 0,#66c2ce 100%);
	background: -moz-linear-gradient(315deg,#e52054 0,#66c2ce 100%);
	background: linear-gradient(135deg,#e52054 0,#66c2ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e52054,endColorstr=#66c2ce,GradientType=1);
	color: #fff
}

@charset "UTF-8";

li,p,td {
	font-size: 14px
}
/**  **/
.my-feature-text{
	margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px;
	text-indent:2em;
	color:#999999;
}
.my-feature-text span{
	text-indent:2em;
}
.feature-icon {
	font-size:45px;
	color:#43b2f8;
	padding-right:1px;
}
.feature-text-header{
padding-left:2px;
margin-top: 6px;
}
.feature-text-header h4{
font-size:16px;
padding:5px 0px;
}

b,h1,h2,h3,h4,h5,h6,optgroup,strong {
	font-weight: 500
}





/** 	height:56px; **/
.planLevel-change-sel {
	display:block;
	width:800px;
	height:56px;	
}

.planLevel-change-table{
	width: 800px;
	margin: 0 auto;
	box-shadow: inset 0 -1px 0 0 #E6E6E6;
}
/**
	float:left;
	display: inline-block;
*/
.planLevel-span-sel {
	width:150px;
	/*! height:56px; */
	/*border-radius: 4px 0px 0px 4px;*/
	font-size: 18px;
	color: #60656B;
	line-height:34px;
	/*background: #6e7b8f; */
	/*border: 1px solid #6e7b8f;*/
	cursor:pointer;
	/*margin-left: 30px; */
	display: inline-block;
}

.planLevel-span-dis {
	float:left;
	width:144px;
	height:56px;
	/*border-radius: 4px 0px 0px 4px;*/
	font-size: 14px;
	color: #60656B;
	line-height:34px;
	/*background: #6e7b8f; */
	/*border: 1px solid #6e7b8f;*/
	cursor:pointer;
	margin-left: 30px;
}
.case_active{
	color: #0081FF;
	box-shadow: inset 0 -2px 0 0 #0081FF;
}